@{
    Layout = null;
}
@using SWEprotein.Models

<style type="text/css">
    #topListWrapper {
        background-color: whitesmoke;
        padding: 25px 25px 0 25px;
    }
</style>

<div class="img-rounded" id="topListWrapper">
    <legend>Mest sålda produkter</legend>
    @foreach (tbProduct prod in Model)
    {
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12">
                <p><b>@prod.sName</b><br/>
                </p>
                <div class="thumbnail">
                    <a href="/Product/Produkt/@prod.iID"> <img src="@prod.sPicture" class="img-responsive" alt="..."></a>
                </div>            
            </div>
        </div>
  
    }
</div>